<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         stopOnError="true"
         stopOnFailure="true"
         bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="unit-and-component-tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>

	<listeners>
	    <!-- A PHPUnit listener to tear down all the Mockery resources -->
	    <listener class="\Mockery\Adapter\Phpunit\TestListener"
	              file="../vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
	</listeners>
</phpunit>